body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}

.no-gap {
  display: block;
  border-radius: 0px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  margin-right: 93px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  padding: 24px 0px 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  padding-left: 0px;
}

.navigation__list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__current {
  color: #2196f3;
}
.navigation__current::after {
  content: "";
  position: absolute;
  bottom: -32px;
  left: 0px;
  width: 100%;
  padding: 2px;
  transform: translateY(37%);
  background-color: #2196f3;
  border-radius: 2px;
}

.contact {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
}

.contact__item {
  display: flex;
  margin-right: 50px;
  align-items: center;
  color: #757575;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__item--retreat {
  margin: 0px;
}
.contact__item:hover, .contact__item:focus {
  color: #2196f3;
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.button {
  padding: 10px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0px;
  max-width: 1600px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-position: center;
}

.hero__title {
  margin: 0px auto 30px auto;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  width: 216px;
}

.privilege {
  padding-bottom: 0;
}

.privilege__list {
  display: flex;
  padding-left: 0;
}

.privilege__item {
  width: 270px;
}
.privilege__item:not(:last-child) {
  margin-right: 30px;
}

.privilege__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.privilege__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.privilege__text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.speciality {
  display: flex;
  padding-left: 0;
}

.speciality__item {
  position: relative;
}
.speciality__item:not(:last-child) {
  margin-right: 30px;
}

.speciality__label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px 0px;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.employee {
  display: flex;
  padding-left: 0;
}

.employee__list:not(:last-child) {
  margin-right: 30px;
}

.employee__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.employee__thumb {
  padding: 30px 0px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.employee__sn {
  display: inline-flex;
  margin-top: 16px;
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.employee__sn:not(:last-child) {
  margin-right: 10px;
}
.employee__sn:hover, .employee__sn:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.clients {
  display: inline-flex;
  padding-left: 0px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__logo {
  display: inline-block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer__mark {
  display: flex;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.address {
  padding: 0;
}

.address__item:not(:first-child) {
  margin-top: 9px;
}

.address__postal {
  color: #ffffff;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
}

.address__contact {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:focus {
  color: #2196f3;
}

.join {
  padding-top: 12px;
  margin-left: 70px;
}

.join__title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  display: flex;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.join__icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 50%;
  outline: transparent;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__icon:hover, .join__icon:focus {
  background-color: #2196f3;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  position: relative;
  margin-left: 93px;
  padding-top: 12px;
}

.subscribe__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 0px 0px 0px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input:hover, .subscribe__input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
}

.subscribe__button {
  position: absolute;
  bottom: 0px;
  right: -12px;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__icon {
  display: inline-block;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  padding: 0px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}
.modal__btn--dagger {
  vertical-align: middle;
}

.form {
  width: 448px;
  margin-left: 41px;
}

.form__title {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  color: #212121;
}

.field {
  position: relative;
  margin-bottom: 28px;
}

.field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 15px 11px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:hover, .field__input:focus {
  border: 1px solid #2196f3;
  outline: transparent;
  cursor: pointer;
}

.field__label {
  position: absolute;
  top: -4px;
  left: 0px;
  transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:focus ~ .field__icon {
  fill: #2196f3;
}
.field:hover .field__icon {
  fill: #2196f3;
}

.textarea {
  position: relative;
  margin-bottom: 20px;
}

.textarea__comment {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.textarea__comment:hover, .textarea__comment:focus {
  border: 1px solid #2196f3;
  outline: transparent;
  cursor: pointer;
}

.checkbox {
  position: relative;
  cursor: pointer;
  line-height: 1.71;
}

.checkbox__input {
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__terms {
  color: #2196f3;
}

.checkbox__icon {
  position: absolute;
  top: 50%;
  left: -7px;
  transform: translate(-100%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__icon--agree {
  fill: transparent;
}
.checkbox__input:checked ~ .checkbox__icon--square {
  fill: #2196f3;
}
.checkbox__input:checked ~ .checkbox__icon--agree {
  fill: #ffffff;
  background-color: #2196f3;
}

.form__btn {
  margin-top: 30px;
}

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 0;
}

.filter__btn {
  padding: 6px 22px;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.63;
  border: transparent;
  border-radius: 4px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:focus, .filter__btn:hover, .filter__btn--active {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
}

.project__item {
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item:nth-child(3n) {
  margin-right: 0;
}
.project__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.project__thumb {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__title {
  color: #212121;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.project__filter {
  margin-top: 4px;
  font-size: 16px;
}

.project__card {
  position: relative;
  overflow: hidden;
}

.project__text {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: #ffffff;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover .project__text {
  transform: translatey(0);
}/*# sourceMappingURL=main.css.map */