//body style

body {
  color: $primary-text-color;
  font-family: $main-font;
  font-size: 14px;
  letter-spacing: 0.03em;
  &.no-scroll {
    overflow: hidden;
  }
}

//margin reset
h1,
h2,
h3,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

// No-gap Images

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0px;
}

//container
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
