.footer {
  background-color: $footer-color;
  padding: 60px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    text-align: start;
  }
}

.footer__mark {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.address__container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.address {
  @extend %list;
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }
}

.address__postal {
  color: $white-color;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;
}

.address__contact {
  color: $footer-contact-color;
  text-decoration: none;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.join__title {
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.join__icon {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $white-color;
}

.join__item:not(:last-child) {
  margin-right: 10px;
}

.subscribe {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    margin-left: 93px;
  }
}

.subscribe__label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $white-color;
}

.subscribe__input {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 0px 0px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $footer-color;
  color: $white-color;
  transition: border $timing-function;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    outline: transparent;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-bottom: 0px;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0px;
    right: -12px;
    transform: translateX(100%);
  }
}

.subscribe__icon {
  display: inline-block;
  margin-left: 10px;
}
