.form__title {
  display: block;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: calc(30px / 20px);
  color: $title-text-color;

  @media screen and (min-width: 1200px) {
    line-height: calc(23px / 20px);
  }
}

.field {
  position: relative;
  margin-bottom: 28px;
}

.field__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 15px 11px 42px;
  transition: border $timing-function;

  &:focus {
    border: 1px solid $accent-color;
    outline: transparent;
    cursor: pointer;
  }
}

.field__label {
  position: absolute;
  top: -4px;
  left: 0px;
  transform: translateY(-100%);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: fill $timing-function;

  .field__input:focus ~ & {
    fill: $accent-color;
  }
}

.textarea {
  position: relative;
  margin-bottom: 20px;
}

.textarea__comment {
  resize: none;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border $timing-function;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid $accent-color;
    outline: transparent;
    cursor: pointer;
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: calc(14px / 12px);
  cursor: pointer;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24px / 14px);
  }
}

.checkbox__input {
  padding: 0px;
  margin: 0px;
  appearance: none;

  &:focus ~ .checkbox__icon {
    outline: 2px solid $accent-color;
    border-radius: 2px;
  }

  &:checked ~ .checkbox__icon {
    outline: none;
  }

  &:checked ~ .checkbox__icon {
    background-color: $accent-color;
  }

  &:checked ~ .checkbox__icon .checkbox__icon--square {
    opacity: 0;
  }

  &:checked ~ .checkbox__icon .checkbox__icon--check {
    opacity: 1;
  }
}

.checkbox__terms {
  color: $accent-color;
}

.checkbox__icon {
  margin-right: 8px;
  flex-shrink: 0;
  transition: background-color $timing-function;
}

.checkbox__icon--squre {
  transition: opacity $timing-function;
}

.checkbox__icon--check {
  opacity: 0;
  fill: $white-color;
  transition: opacity $timing-function;
}
