.header {
  display: flex;
  align-items: center;
  padding: 24px 0px 25px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  padding-left: 0px;
}

.navigation__list {
  display: flex;
  align-items: center;
  padding-left: 0px;
}

.navigation__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.navigation__link {
  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.navigation__current {
  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    bottom: -32px;
    left: 0px;
    width: 100%;
    padding: 2px;
    transform: translateY(37%);
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.contact {
  display: flex;
  padding-left: 0px;
  margin-left: auto;
}

.contact__item {
  display: flex;
  margin-right: 50px;
  align-items: center;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $timing-function;

  &--retreat {
    margin: 0px;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}
