.project__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;

  @extend %list;
}

.project__item {
  transition: box-shadow $timing-function;

  &:hover {
    box-shadow: $portfolio-box-shadow;
  }
  @media screen and (min-width: 780px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.project__img {
  @media screen and (min-width: 780px) {
    width: 354px;
    height: 294px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }
}

.project-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  outline: transparent;

  &:focus {
    box-shadow: $portfolio-box-shadow;
  }
}

.project__thumb {
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project__title {
  margin-bottom: 4px;
  color: $title-text-color;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: calc(36px / 18px);

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: calc(36px / 18px);
  }
}

.project__filter {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: $primary-text-color;
}

.project__card {
  position: relative;
  overflow: hidden;
}

.project__text {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: $white-color;
  transform: translatey(100%);
  transition: transform $timing-function;

  .project__item:hover &,
  .project-link:focus & {
    transform: translatey(0);
  }
}
