.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
  margin-bottom: 40px;

  @extend %list;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter-item {
  flex-grow: 100%;
}

.filter__btn {
  padding: 6px 24px;
  cursor: pointer;
  color: $title-text-color;
  background-color: $grey-bg-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  outline: transparent;
  transition: background-color $timing-function, color $timing-function, box-shadow $timing-function;

  &:focus,
  &:hover,
  &--active {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: $filter-box-shadow;
  }
}
