.section {
  padding: 60px 0px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1600px;
    padding: 94px 0px;

  }
}

.section__title {
  margin-bottom: 30px;
  color: $title-text-color;
  font-size: 28px;
  line-height: calc(33px / 28px);
  text-align: center;

  &--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42px / 36px);
  }
}
