.team {
  background-color: $grey-bg-color;
}

.employee__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  @extend %list;
}

.employee__foto {
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}

.employee__thumb {
  padding: 30px 0px;
  background-color: $white-color;
  box-shadow: $studio-box-shadow;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.employee__name {
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.employee__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;

  @extend %list;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: $logo-color;
  outline: transparent;
  transition: fill $timing-function, background-color $timing-function,
    border-radius $timing-function;

  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    fill: $white-color;
    background-color: $accent-color;
    border-radius: 50%;
  }
}
